.mail-nav {
    height: 100%;
    min-width: 200px;
    border-inline-end: 1px solid black;
    /* position: relative;
    bottom: 64px; */

}

.folder-wrapper a:active{
background-color: rgb(255, 110, 110);
}

.mail-nav button{
    display: flex;
    align-items: center;
    gap:2px;
    font-weight: 700;
    width: 150px;
border-radius: 8px;
border:none;
margin-top: 10px;
margin-inline-start: 10px;
background-color: lightcyan;
}
.mail-nav button:hover{
background-color:rgb(203, 239, 239) ;
}
.nav-icon{
height: 1.2rem;
padding-inline-end: 15px;
}

.folder-link {
    display: flex;
    align-items:center;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    padding-inline-start: 20px;
    /* transition: 0.4s; */
    /* margin-top: 30px; */
}

.folder-link:hover{
    background-color: rgb(233, 230, 230);
    cursor: pointer;
}

.folder-link.clicked{
background-color: rgb(233, 230, 230);
}
.folder-link.mail-link.clicked{
background-color: #f8dedb;
}

.mail-nav ul li.clicked {
    box-shadow: 0px 0px 2px 0px;
}
