.new-mail {
    position: fixed;
    bottom: 0;
    right: 3%;
    width: 400px;
    border:1px solid rgb(101, 98, 98);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* padding:1px; */
}
.new-mail form{
background-color: #fff;

}
.new-mail  form input{
border-bottom: 1px solid rgb(101, 98, 98);
}
textarea{
padding:5px;
}
form textarea,
form input {
    width:380px;
    max-width: 400px;
    outline: none;
    border:solid rgba(101, 98, 98, 0);

}

.new-mail-title {
    background-color: #404040;
    color: white;
    padding: 0.5em;
    letter-spacing: 0.1px;
    font-family: Arial, Helvetica, sans-serif;
}


.new-mail form textarea {
    height: 38vh;
    resize: none;
    outline: none;
    
}

.new-mail-title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-inline-start: 15px;
}

.new-mail-title button{
    background-color: transparent;
    color:white ;
    /* font-size: large; */
    font-weight: bold;
    border: none;

}

.new-mail-title button:hover{
transform: scale(1.1);
}

.close-composer-btn{
width: 10px;
position:absolute;
bottom:10px;
right:10px;
}

.close-composer-btn{
    font-size: larger;
    padding: 13px;
    margin-inline-end: 12px;
}
.close-composer-btn:hover{
transform: scale(1.1);
cursor: pointer;
}


.send-btn {
    width: 120px;
    height: 48px;
    background-color:var(--clr12);
    color:white;
    border: none;
    border-radius: 8px;
    margin-inline-start:25px;
    margin-bottom: 10px;

}
.send-btn:hover {
    background-color: #486ed7;
}

