.new-mail {
    position: fixed;
    bottom: 0;
    right: 3%;
    width: 400px;
    border:1px solid rgb(101, 98, 98);
    padding:1px;
}
.new-mail form{
background-color: #fff;

}
.new-mail  form input{
border-bottom: 1px solid rgb(101, 98, 98);
}
textarea{
padding:5px;
}
form textarea,
form input {
    width:380px;
    max-width: 400px;
    outline: none;
    border:solid rgba(101, 98, 98, 0);
}

.new-mail-title {
    background-color: #404040;
    color: white;
    padding: 0.5em;
    letter-spacing: 0.1px;
    font-family: Arial, Helvetica, sans-serif;
}

.new-mail-title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.new-mail form textarea {
    height: 38vh;
    resize: none;
    outline: none;

}

.new-mail form button{

}
.close-composer-btn{
width: 20px;
position:absolute;
bottom:0;
right:5%;
}

.send-btn{
width: 150px;

}
.send-btn {
    background-color:var(--clr12);
    color:white;
    border-radius: 8px;
    margin-inline-start:10px;

}
.send-btn:hover {
    background-color: #486ed7;
}

/* .new-mail-actions {
    align-items: center;
    background-color: white;
    height: 80px;
    padding: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;

} */

/* .new-mail-actions button {
    background-color: transparent;
    width: 90px;
    border: 0px;
    margin-inline-start: 15px;
} */

/* .new-mail-actions .send-btn {
    background-color: var(--clr12);
    color: white;
    border-radius: 10px;
    margin-inline-start: 15px;
} */

/* .new-mail-actions :last-child:hover {
    transform: scale(1.2);
} */

