/* .mail-preview-container :nth-child(even){
background-color: beige;
} */

.mail-preveiw {
    justify-content: flex-start;
    gap: 2rem;
    height: 3rem;
    width: calc(95vw - 210px);
}

.details-link {
    /* background-color: aquamarine; */
    align-items: center;
}

.mail-preveiw button {
    padding: 0;
    border: none;
    background-color: transparent;
    justify-self: end;
    display: none;
}

.fa-solid.fa-star {
    color: rgb(228, 198, 28);

}

.fa-solid.fa-star:hover {
    box-shadow: 0px 0px 3px 0px #000000;
    border-radius: 50%;
    cursor: pointer;
}

    .fa-solid.fa-star,
    .fa-regular.fa-star {
        justify-self: center;
    }


    .star {
        display: grid;
        place-items: center;
        height: 30px;
        width: 30px;
        padding-left: 20px
    }

    .star:hover .fa-regular.fa-star {
        border-radius: 50%;
        box-shadow: 0px 0px 3px 0px #000000;
        cursor: pointer;
        ;
    }

    .fa-regular.fa-star {
        display: block
    }

    .mail-address {
        min-width: 100px;
        max-width: 130px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .subject {
        width: 140px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .short-content {
        max-width: 600px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .mail-date {
        /* display:none; */
    }

    .mail-preveiw:hover {
        box-shadow: 0px 0px 3px 0px #000000;
    }

    .mail-preveiw:hover .mail-date {
        display: none;
    }

    .mail-preveiw:hover button {
        display: block;
    }